[Unit]
Description=kiwix
After=network.target

[Service]
ExecStart=/bin/sh -c '/var/kiwix/bin/kiwix-serve --port 81 /mnt/content/wiki/*.zim'
WorkingDirectory=/content/wiki
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
