images
output*
pishrink.sh
.DS_Store
ansible/roles/common/files/ElimuPi-Web-Interface
ansible/inventory.yml
ansible/roles/geerlingguy.mysql/.ansible-lint
ansible/roles/geerlingguy.mysql/.gitignore
ansible/roles/geerlingguy.mysql/.yamllint
ansible/roles/geerlingguy.mysql/LICENSE
ansible/roles/geerlingguy.mysql/README.md
ansible/roles/geerlingguy.mysql/.github/FUNDING.yml
ansible/roles/geerlingguy.mysql/.github/stale.yml
ansible/roles/geerlingguy.mysql/.github/workflows/ci.yml
ansible/roles/geerlingguy.mysql/.github/workflows/release.yml
ansible/roles/geerlingguy.mysql/defaults/main.yml
ansible/roles/geerlingguy.mysql/handlers/main.yml
ansible/roles/geerlingguy.mysql/meta/.galaxy_install_info
ansible/roles/geerlingguy.mysql/meta/main.yml
ansible/roles/geerlingguy.mysql/molecule/default/converge.yml
ansible/roles/geerlingguy.mysql/molecule/default/molecule.yml
ansible/roles/geerlingguy.mysql/tasks/configure.yml
ansible/roles/geerlingguy.mysql/tasks/databases.yml
ansible/roles/geerlingguy.mysql/tasks/main.yml
ansible/roles/geerlingguy.mysql/tasks/replication.yml
ansible/roles/geerlingguy.mysql/tasks/secure-installation.yml
ansible/roles/geerlingguy.mysql/tasks/setup-Archlinux.yml
ansible/roles/geerlingguy.mysql/tasks/setup-Debian.yml
ansible/roles/geerlingguy.mysql/tasks/setup-RedHat.yml
ansible/roles/geerlingguy.mysql/tasks/users.yml
ansible/roles/geerlingguy.mysql/tasks/variables.yml
ansible/roles/geerlingguy.mysql/templates/my.cnf.j2
ansible/roles/geerlingguy.mysql/templates/root-my.cnf.j2
ansible/roles/geerlingguy.mysql/templates/user-my.cnf.j2
ansible/roles/geerlingguy.mysql/vars/Archlinux.yml
ansible/roles/geerlingguy.mysql/vars/Debian-10.yml
ansible/roles/geerlingguy.mysql/vars/Debian-11.yml
ansible/roles/geerlingguy.mysql/vars/Debian.yml
ansible/roles/geerlingguy.mysql/vars/RedHat-7.yml
ansible/roles/geerlingguy.mysql/vars/RedHat-8.yml
ansible/roles/veselahouba.openldap/.drone.star
ansible/roles/veselahouba.openldap/.yamllint
ansible/roles/veselahouba.openldap/README.md
ansible/roles/veselahouba.openldap/ci/molecule.sh
ansible/roles/veselahouba.openldap/defaults/main.yml
ansible/roles/veselahouba.openldap/handlers/main.yml
ansible/roles/veselahouba.openldap/meta/.galaxy_install_info
ansible/roles/veselahouba.openldap/meta/main.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/converge.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/molecule.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/prepare.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/requirements.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/host_vars/instance.yml
ansible/roles/veselahouba.openldap/molecule/custom_vars/tests/.gitignore
ansible/roles/veselahouba.openldap/molecule/custom_vars/tests/test_custom.py
ansible/roles/veselahouba.openldap/molecule/default/converge.yml
ansible/roles/veselahouba.openldap/molecule/default/molecule.yml
ansible/roles/veselahouba.openldap/molecule/default/prepare.yml
ansible/roles/veselahouba.openldap/molecule/default/requirements.yml
ansible/roles/veselahouba.openldap/molecule/default/tests/.gitignore
ansible/roles/veselahouba.openldap/molecule/default/tests/test_default.py
ansible/roles/veselahouba.openldap/tasks/configure_ldap.yml
ansible/roles/veselahouba.openldap/tasks/generate_cert.yml
ansible/roles/veselahouba.openldap/tasks/install_ldap.yml
ansible/roles/veselahouba.openldap/tasks/main.yml
ansible/roles/veselahouba.openldap/templates/slapd.j2
.vault_pass
