<?xml version="1.0" encoding="utf-8"?>
<config plugin="auth_ldap" version="2022041900">
    <setting name="auth_user_create">0</setting>
    <setting name="bind_dn"/>
    <setting name="bind_pw"/>
    <setting name="changepasswordurl"/>
    <setting name="contexts">o=school,dc=elimupi,dc=local</setting>
    <setting name="coursecreatorcontext"/>
    <setting name="create_context"/>
    <setting name="expiration">0</setting>
    <setting name="expiration_warning"/>
    <setting name="expireattr"/>
    <setting name="field_lock_address">unlocked</setting>
    <setting name="field_lock_alternatename">unlocked</setting>
    <setting name="field_lock_city">unlocked</setting>
    <setting name="field_lock_country">unlocked</setting>
    <setting name="field_lock_department">unlocked</setting>
    <setting name="field_lock_description">unlocked</setting>
    <setting name="field_lock_email">unlocked</setting>
    <setting name="field_lock_firstname">unlocked</setting>
    <setting name="field_lock_firstnamephonetic">unlocked</setting>
    <setting name="field_lock_idnumber">unlocked</setting>
    <setting name="field_lock_institution">unlocked</setting>
    <setting name="field_lock_lang">unlocked</setting>
    <setting name="field_lock_lastname">unlocked</setting>
    <setting name="field_lock_lastnamephonetic">unlocked</setting>
    <setting name="field_lock_middlename">unlocked</setting>
    <setting name="field_lock_phone1">unlocked</setting>
    <setting name="field_lock_phone2">unlocked</setting>
    <setting name="field_lock_url">unlocked</setting>
    <setting name="field_map_address"/>
    <setting name="field_map_alternatename"/>
    <setting name="field_map_city"/>
    <setting name="field_map_country"/>
    <setting name="field_map_department"/>
    <setting name="field_map_description"/>
    <setting name="field_map_email">mail</setting>
    <setting name="field_map_firstname">cn</setting>
    <setting name="field_map_firstnamephonetic"/>
    <setting name="field_map_idnumber"/>
    <setting name="field_map_institution"/>
    <setting name="field_map_lang"/>
    <setting name="field_map_lastname">sn</setting>
    <setting name="field_map_lastnamephonetic"/>
    <setting name="field_map_middlename"/>
    <setting name="field_map_phone1"/>
    <setting name="field_map_phone2"/>
    <setting name="field_map_url"/>
    <setting name="field_updatelocal_address">oncreate</setting>
    <setting name="field_updatelocal_alternatename">oncreate</setting>
    <setting name="field_updatelocal_city">oncreate</setting>
    <setting name="field_updatelocal_country">oncreate</setting>
    <setting name="field_updatelocal_department">oncreate</setting>
    <setting name="field_updatelocal_description">oncreate</setting>
    <setting name="field_updatelocal_email">onlogin</setting>
    <setting name="field_updatelocal_firstname">onlogin</setting>
    <setting name="field_updatelocal_firstnamephonetic">oncreate</setting>
    <setting name="field_updatelocal_idnumber">oncreate</setting>
    <setting name="field_updatelocal_institution">oncreate</setting>
    <setting name="field_updatelocal_lang">oncreate</setting>
    <setting name="field_updatelocal_lastname">onlogin</setting>
    <setting name="field_updatelocal_lastnamephonetic">onlogin</setting>
    <setting name="field_updatelocal_middlename">oncreate</setting>
    <setting name="field_updatelocal_phone1">oncreate</setting>
    <setting name="field_updatelocal_phone2">oncreate</setting>
    <setting name="field_updatelocal_url">oncreate</setting>
    <setting name="field_updateremote_address">0</setting>
    <setting name="field_updateremote_alternatename">0</setting>
    <setting name="field_updateremote_city">0</setting>
    <setting name="field_updateremote_country">0</setting>
    <setting name="field_updateremote_department">0</setting>
    <setting name="field_updateremote_description">0</setting>
    <setting name="field_updateremote_email">0</setting>
    <setting name="field_updateremote_firstname">0</setting>
    <setting name="field_updateremote_firstnamephonetic">0</setting>
    <setting name="field_updateremote_idnumber">0</setting>
    <setting name="field_updateremote_institution">0</setting>
    <setting name="field_updateremote_lang">0</setting>
    <setting name="field_updateremote_lastname">0</setting>
    <setting name="field_updateremote_lastnamephonetic">0</setting>
    <setting name="field_updateremote_middlename">0</setting>
    <setting name="field_updateremote_phone1">0</setting>
    <setting name="field_updateremote_phone2">0</setting>
    <setting name="field_updateremote_url">0</setting>
    <setting name="forcechangepassword">0</setting>
    <setting name="graceattr"/>
    <setting name="gracelogins">0</setting>
    <setting name="host_url">ldap://{{ openldap_server_domain }}/</setting>
    <setting name="ldap_version">3</setting>
    <setting name="ldapencoding">utf-8</setting>
    <setting name="managercontext"/>
    <setting name="memberattribute"/>
    <setting name="memberattribute_isdn">0</setting>
    <setting name="ntlmsso_enabled">0</setting>
    <setting name="ntlmsso_ie_fastpath">0</setting>
    <setting name="ntlmsso_remoteuserformat"/>
    <setting name="ntlmsso_subnet"/>
    <setting name="ntlmsso_type">ntlm</setting>
    <setting name="objectclass"/>
    <setting name="opt_deref">0</setting>
    <setting name="pagesize">250</setting>
    <setting name="passtype">plaintext</setting>
    <setting name="preventpassindb">0</setting>
    <setting name="removeuser">0</setting>
    <setting name="search_sub">1</setting>
    <setting name="start_tls">0</setting>
    <setting name="stdchangepassword">0</setting>
    <setting name="suspended_attribute"/>
    <setting name="sync_suspended">0</setting>
    <setting name="user_attribute"/>
    <setting name="user_type">default</setting>
</config>