# {{ ansible_managed }}
# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:
source /etc/network/interfaces.d/*

allow-hotplug {{ sta_adapter }}
iface {{ sta_adapter }} inet manual
    wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf
