client

dev tun

proto udp

remote 74.234.144.122 1194

ca ca.crt

cert vpnclient.crt

key vpnclient.key

cipher AES-256-CBC

auth SHA512

auth-nocache

tls-version-min 1.2

tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-CBC-SHA256

resolv-retry infinite

compress lz4

nobind

persist-key

persist-tun

mute-replay-warnings

verb 3

# Set specific routes for DEAN

route-nopull

route 10.254.0.0 255.255.0.0

route 10.253.0.0 255.255.0.0

route 10.252.0.0 255.255.0.0

# Root certificate
<ca>
-----BEGIN CERTIFICATE-----
MIIDRTCCAi2gAwIBAgIUOQrgFIRW+jKWYyBKX2ieASaq7KMwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJdnBuc2VydmVyMB4XDTIzMDMyNDIwMjQxNVoXDTQzMTAw
NTIwMjQxNVowFDESMBAGA1UEAwwJdnBuc2VydmVyMIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAqqDDCpRnCk6Z4s/UsHlOs+62CjaPb+NIFjPZ9n9uTjI1
q+/ZJZxeEA7VDg4SLm3D79NUOe1cGwZnsQOk6ExG+oPaoI/K1Ff8mmYbbzeNGX+t
YYwYNafRVeNc0+z3l8kYjBKC43zY9jmxIPjdrH/Olxk2bLe2UrwalXiAJ6XcxCmn
OdW4Aj6z+wLxNSVNbFgf+UF/laN1x8qvmd+51CvBmY4JaIHbggLn8sra5VCuOvXU
WtT16dkh1swLiqkXGZLGP2ZnwZOOdq+2X0EN74RpD8HcIdSCQc+dh+i4QaFoGnJv
efOm+VOCdaHf7Eu4cSN18OFZgZ3dabQzIsJFuWlZ/wIDAQABo4GOMIGLMAwGA1Ud
EwQFMAMBAf8wHQYDVR0OBBYEFGcvuZTU5IbUTyKUPskCkuTFEt89ME8GA1UdIwRI
MEaAFGcvuZTU5IbUTyKUPskCkuTFEt89oRikFjAUMRIwEAYDVQQDDAl2cG5zZXJ2
ZXKCFDkK4BSEVvoylmMgSl9ongEmquyjMAsGA1UdDwQEAwIBBjANBgkqhkiG9w0B
AQsFAAOCAQEAGPpMHwRjENztQb6XrKMFpMRSQbm1Ya4i5bLHwvyBJJPXEju8oI9F
3ZHfL1mHNcvyEvCpUmtb3cJCXPpsGPma81yo9XZu7Dyap6qu8luzvVq0+3VcPfuC
Ipa4m7GpIJvdpRhH4bPvEf2+7ZhszM0zitmngp3AaMPugG2LYbkPfSMI2a+CK4B3
fjDCokJn9/nZopb7TIwR4jkv1flr/3a+1MlzzQK7hvwH9BgQRNuHbGTdGBWcCqxc
M30Sj7IgNSP/BJf+yrSk3s2WBcPOiBWMhjG4piA8kAzZXecOmGReRdI3JnT7Kopm
VvY4vyUYNBjMDOuNf4GmpI/XdwTnPtZraA==
-----END CERTIFICATE-----
</ca>
# client certificate
<cert>
-----BEGIN CERTIFICATE-----
MIIDVDCCAjygAwIBAgIRANPMYV8hFf7iivt9vA5dZM8wDQYJKoZIhvcNAQELBQAw
FDESMBAGA1UEAwwJdnBuc2VydmVyMB4XDTI0MDcxMDEzNDI1OFoXDTI5MDcxMDEz
NDI1OFowFDESMBAGA1UEAwwJcmFzcGJlcnJ5MIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA5yB78tlKOHtI0xlxF6Rpi1F4HxuGghuLw0n37S8x3SeiUe4/
tiGgKodt/w9Lef82RxW6AT+dFx/td9TZEFMplD61tG9LpvZbFN2SHKbamL9iUhPw
EnM2D9CpLagQ0/4FWkFw6BNubmvRB927zl+t+JR+uYcwkAb8P6KEQhQumFocLEzi
XLpr7YKVwBmu+QPb8LWB4urW8HMIZJoiT0FlqgUZBILdU36wC5oZRj3UJg5BzphI
5okEEsxKzsruo2ZLAOaOfed/h0JpqSa1xZaoKID9d3TFRY7uTkcFVbCv3UwjT9oG
UYGa6Of+jPhQQHHc6XJlbBPapLRR4pNMGN7fVQIDAQABo4GgMIGdMAkGA1UdEwQC
MAAwHQYDVR0OBBYEFK8qLKH6P2sGcgZFbPFL/W/D6sWyME8GA1UdIwRIMEaAFGcv
uZTU5IbUTyKUPskCkuTFEt89oRikFjAUMRIwEAYDVQQDDAl2cG5zZXJ2ZXKCFDkK
4BSEVvoylmMgSl9ongEmquyjMBMGA1UdJQQMMAoGCCsGAQUFBwMCMAsGA1UdDwQE
AwIHgDANBgkqhkiG9w0BAQsFAAOCAQEAQX9Fkjitag4/Ij/vHu2ysRrlex38B4lB
PHvdTJDAzk3/jzf2sP7zCm5D+YWWMXZhRqV5i7dylfJHxnGdn3tupoQQnbyl69e1
iiSjLkKtq1R44sZV6hxGOnv0gIEKl1LR6qb8NX5r9Qh/EPJFROGDKj+No1AnD6Mi
/XY0YNYpUVMhff2GSSUF9obPk4Df0i3CplMrZKDolelPvb5VQq/zTZ+Qtp2VGCAF
3zZj9YA3dLvHqeslwxebC8Wp54Lje9NkB5fJHInK8hSzx3tcFOBEyAXpfGCGbbFI
GfYJxAUudgIeKyQD3J8v88fwKfXo2rNPy/2ceWVYh83pm52K4nehOA==
-----END CERTIFICATE-----
</cert>
# Client certificate private key
<key>
{{ openvpn_client_key }}
</key>
