ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country={{ wifi_settings.wifi_country }}

{% for network in wifi_settings.wifi_networks -%}
network={
    ssid="{{ network.ssid }}"
    psk="{{ network.psk }}"
    priority={{ loop.index }}
   }
{% endfor %}